* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  
}
/* Clearfix (clear floats) */
.Appetizersimage::after {
  content: "";
  clear: both;
  display: table;
}
.column1 {
  float: left;
  width: 33.33%;
  padding: 40px;
}
.Landing-page2{
  padding-top: 30px;

  border-radius:50px;
  height: auto;
  
}
.MENU
{
  position: absolute;
float: center;
right: 45%;
  color: #8b0000;
  
}
  .Appetizer{
    position: relative;
   
    height: auto;
    color: darkred;
    font-size: large;
}
.column1 .content {
  
color:darkred;
font-family: bridgeville;
font-weight: bolder;
font-stretch: semi-expanded;
font-size: large;
}

  .aimg{
      animation-name: example;
      animation-duration: 4s;
      height: auto;
    }
    
    @keyframes example {
      from {opacity: 10%;}
      to {opacity: 100%;}
    }
  
.column2 {
  float: left;
  width: 33.33%;
  padding: 40px;
}
.column2 .content {
  
  color:darkred;
  font-family: bridgeville;
  font-weight: bolder;
  font-stretch: semi-expanded;
  font-size: large;
}
    
.column3 {
  float: left;
  width: 33.33%;
  padding: 40px;
}
.column3 .content {
  
  color:darkred;
  font-family: bridgeville;
  font-weight: bolder;
  font-stretch: semi-expanded;
  font-size: large;
}
.column2d {
  position: absolute;
  right: 10%;
  left: 65%;
  top: 212%;
  float: right;
  width: 33.33%;
  padding: 80px;
}
.column2d .content {
  
  color:darkred;
  font-family: bridgeville;
  font-weight: bolder;
  font-stretch: semi-expanded;
  font-size: large;
}
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
  .column1,.column2,.column3,.column2d,.nav {
    width: 100%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .MENU{
    width: 10%;
   
  }
}
/* Style buttons */
.btn {
  background-color: darkred;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: auto;
  float: right;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(0, 0, 0);
}

.bg {
  /* The image used */
  background-image: url("logo restaurant 2.png");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.downloadpdf{

  position: relative;
  left: 40%;
 
  
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .downloadpdf{
    width: 50%;
   
  }
}