.mybox{
    position: absolute;

    border:2px solid black;
    width:3003px;
    max-width: 303px;
    height:90px;
    max-height: 100px;
    overflow:scroll;
    font-weight: bold;
    right: 50%;
    left:41.6%;
}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .mybox{
      width: 100%;

    }
  }
